body
{

    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;

}

header
{

    width: 100%;
    margin-bottom: 10px;

}

footer
{

    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
    
}

.imagenesVocales
{

    width: 300px;
    height: auto;

}

#iJugar:hover
{

    content: url(./iconos/arrow-right-circle-fill.svg);

}

#iAyuda:hover
{

    content: url(./iconos/question-circle-fill.svg);

}