body
{

    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
    background-image: url("../multimedia/imagenes/aula.png");
    background-size: 100% 100%;

}

header
{

    width: 100%;
    margin-bottom: 10px;

}

footer
{

    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
    
}

.imagenesVocales
{

    width: 300px;
    height: auto;

}

#iJugar:hover
{

    content: url(./iconos/arrow-right-circle-fill.svg);

}

#iAyuda:hover
{

    content: url(./iconos/question-circle-fill.svg);

}

.tarjeta
{

    width: 330px;
    opacity: 95%;

}

.tarjetaRespuesta
{

    width: 200px;
    opacity: 95%;

}